@import url(reset.css);

header {
    display: flex;
    justify-content: center;
    background-color: #9D5C0D;
    height: 100px;
    position: sticky;
    top: 0;
}

body {
    background-color: #E5890A;
}

nav {
    background-color: #F7D08A;
    align-self: center;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    width: 80%;
    height: 60px;
    border: 1px solid black;
    border-radius: 100px;
}

.blossom img {
    width: 20px;
    height: 20px;
    display: none;
}

nav a {
    position: relative;
    color: black;
}

nav a:hover .blossom img {
    display: inline;
    position: absolute;
}

nav a:hover .corner {
    top: -10px;
    right: -20px;
}

nav a:hover .top {
    top: -15px;
    right: 3px;
}

nav a:hover .right {
    top: 10px;
    right: -25px;
}

nav a:hover {
    text-shadow: 1px 0 10px yellowgreen, 0 1px 10px yellowgreen, -1px 0 10px yellowgreen, 0 -1px 10px yellowgreen;
    color: white;
}

.container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 280px;
    margin: 10px 0;
}

.card a {
    background-color: #d76a03;
    padding: 10px;
    border-radius: 15px;
    color: black;
    font-size: large;
}

.card:hover {
    background-color: #d76a03;
    box-shadow: 0 0 10px 10px #9D5C0D;
}

.card:hover a {
    background-color: white;
}

.card * {
    margin: 30px 0 0 0;
}

.card:hover h2 {
    text-shadow: 0 0 10px white;
    color: white;
}

img {
    width: 90%;
    height: 60%;
}

main> :nth-child(2) {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

table {
    background-color: #F7D08A;
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
}

td {
    border: 2px solid black;
    padding: 0 0 0 1px;
}

table:hover {
    box-shadow: 0 0 10px 10px #9D5C0D;
}

td:hover {
    background-color: #9D5C0D;
}