@import url(reset.css);

header {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    height: 100px;
    position: sticky;
    top: 0;
}

nav {
    background-color: #fff;
    align-self: center;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    width: 80%;
    height: 60px;
    border: 1px solid black;
    border-radius: 100px;
}

.container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border-radius: 10px;
    background-color: gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 280px;
    margin: 10px 0;
}

.card * {
    margin: 10px 0;
}

img{
    width: 90%;
    height: 60%;
}
.goal{
    border: solid 1px black;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
}
.goal *{
    margin: 1rem 0;
}
span{
    font-weight: bold;
}